<div class="page-container">
  <h1 class="page-title">MINHAS LISTAS</h1>

  <!-- Botão para criar uma nova lista -->
  <div class="button-container">
    <%= link_to 'Nova Lista', new_list_path, class: 'btn btn-new-list' %>
  </div>

  <!-- Contêiner de cartões das listas -->
  <div class="cards-container">
    <% @lists.each do |list| %>
      <div class="card">
        <!-- Nome da lista -->
        <h2 class="card-title"><%= list.name %></h2>

        <!-- Tarefas da lista -->
        <ul class="task-list">
          <% list.tasks.each do |task| %>
            <li class="task-item">
              <h3 class="task-name"><%= task.name %></h3>
              <!-- Exibe a descrição da tarefa, ou uma mensagem caso não tenha descrição -->
              <!-- <p class="task-description"><%= task.description.present? ? task.description : "Sem descrição" %></p> -->
              <p><strong></strong> <%= task.due_date %></p>
              <!-- <%= button_to 'Remover Tarefa', list_task_path(list, task), method: :delete, class: 'btn btn-delete' %> -->
            </li>
          <% end %>
        </ul>

        <!-- Formulário para adicionar tarefas -->
        <%= form_with model: [list, Task.new], local: true, html: { class: 'task-form' } do |form| %>
          <div class="form-group">
            <%= form.hidden_field :name, placeholder: 'Nova Tarefa', class: 'form-input' %>
            <%= form.submit 'Editar Lista', class: 'btn btn-add-task' %>
          </div>
        <% end %>

        <!-- Botão para remover a lista -->
        <%= button_to 'Remover Lista', list_path(list), method: :delete, data: { confirm: 'Você tem certeza que deseja remover esta lista?' }, class: 'btn btn-delete-list' %>
      </div>
    <% end %>
  </div>

  <div class="logo-container">
    <img src="<%= asset_path('logov360.png') %>" alt="Logo V360" class="v360-logo">
  </div>
</div>
